//--------------------------------------------------------------
// Variables
//--------------------------------------------------------------

// Colors
$color-site-bg:      #eee;
$color-font:         #333;
$color-purple:		 #410993;

// Fonts
$font-sans:  'Source Sans Pro', sans-serif;
$main-font:  'Didact Gothic', sans-serif;
$secondary-font:  'Arimo', sans-serif;